* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'monospace', monospace;
}


:root {
  --background: #102E44;
  --primary-color: #b2fcfb;
  --secondary-color: #58faf7;


  --background-light-rgb: 30 41 59;

  --border-rgb: 255 255 255;
  --border: 1px solid rgb(var(--border-rgb) / 20%);

  --color-main-rgb: 41 121 255;
  --color-main-light-rgb: 56 182 255;
  --color-secondary-rgb: 42 252 152;

  --card-size: 480px;
  --font-size: 0.8rem;
  --logo-size: calc(var(--card-size) * 0.3);
}

body {
  background-color: var(--background);
}

.nav-link {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.25rem;
  rotate: 270deg;
}

.nav-link::after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid #58faf7;
  transform-origin: 50% 100% 0;
}

.nav-link:hover::after {
  transform: scale(1);
}


.link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 0;
  position: fixed;
  align-items: center;
  top: 0;
  right: 0;
  height: 89vh;
  width: 3rem;
}


nav {
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 100vh;
  width: 5rem;
  transition: all 0.5s ease-in-out;
}



nav:hover {
  background-color: #06253a;
}

nav::after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  transform: scale(.9);
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 3;
  border-right: 1px solid #b2fcfb;
  transform-origin: 100% 50% 0;
}

nav:hover::after {
  transform: scale(1);
  border-right: 1px solid #58faf7;
}


.logo {
  width: 4rem;
  margin-top: 0.5rem;
}

.social-links {
  margin: auto 0 0.5rem 0;
  list-style: none;
}


.social-link {
  margin: 1.5rem 0;
  color: var(--primary-color);
}

.social-link:hover {
  animation: bounce2 2s ease;
}


main {
  padding: 1rem 1rem 1rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  align-items: center;
  height: 80vh;
  width: 80%;
  grid-gap: 3rem;
  position: relative;
}




.banner-title {
  display: block;
  line-height: 1;
  color: var(--primary-color);
}

.secondary-title{
  color: var(--secondary-color);
  margin: 1rem 0;
}

.banner-title>h1 {
  font-size: calc(1rem + 3vw);
  display: inline;
  margin: 1rem 0;
}

.banner-title>h2{
  color: var(--secondary-color);
  font-size: 3rem;
  display: inline;
  margin: 1rem 0;
}


.banner-details{
  margin: 1rem 0 2rem;
  line-height: 1.25rem;
}

.brackets {
  font-size: 4rem;
  font-weight: bolder;
  color: rgb(174, 88, 235)
}



.banner-btn {
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid transparent;
  border-bottom: 2px solid var(--primary-color);
  width: max-content;
  transition: all 0.1s ease-in-out;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.banner-btn:hover{
  border-radius: 10px;
  border: 2px solid var(--primary-color);
}



/* projects */



#projects {
  display: flex;
  width: 80%;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin: 5rem 0;
  position: relative;
}


.title>h1 {
  display: inline;
  font-size: 2.5rem;
  color: var(--primary-color);
}

/* .project {
  display: grid;
  grid-gap: 2rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 5rem 0;
} */

.project {
  display: flex;
  align-items: center;
  margin: 5rem 0;
}

.img-side{
  width: 100%;
  position: relative;
  aspect-ratio: 2/1.1;
}

.pro-gradient{
  background-image: linear-gradient(rgba(178, 252, 251, 0.45), rgba(88, 250, 247, 0.45)),
  url('./f0c1655c-bce6-469d-bf94-0828eed3b181.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  aspect-ratio: 3.5/2;
  border-radius: 15px;
  position: absolute;
  z-index: 2;
  top: -10px;
  left: 10px;
  transition: all 0.25s ease-in-out;
  opacity: 1;
}

.pro-image {
  background-image: url('./f0c1655c-bce6-469d-bf94-0828eed3b181.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  aspect-ratio: 3.5/2;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.25s ease-in-out;
  opacity: 0.75;
}


.img-side:hover> .pro-gradient {
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.75;
}

.img-side:hover> .pro-image {
  z-index: 2;
  top: -10px;
  left: 10px;
  opacity: 1;
}


.content-side {
  background-color: #06253a;
  color: var(--primary-color);
  height: fit-content;
  padding: 2rem;
  width: 120%;
  z-index: 5;
  border-radius: 15px;
  margin-left: -7rem;
}

.content-side>h2{
  color: var(--secondary-color);
}

.badge{
  background-color:var(--background);
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
}

.pro-links{
  display: flex;
  align-items: center;
}

.pro-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
  text-decoration: none;
}





/* effect */


#effects {
  display: flex;
  width: 80%;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin: 5rem 0;
  position: relative;
}


.effects-container{
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3,1fr);
  margin: 5rem 0;

}

.effect{
  width: 100%;
  background-color: #06253a;
  border-radius: 15px;
  height: 40vh;
}


.effect-side{
  height: 30vh;
  background-color: #58faf7;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.effect-info{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem ;
}

.effect-info>button{
  background-color:#102E44;
  border:2px solid #58faf7;
  padding: 0.5rem 1rem;
  color:#58faf7;
  font-size: 1rem;
  border-radius: 10px;
  height: fit-content;
  font-weight: bold;
}





.card {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  position: relative;
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 4;
}

.card-image>img {
  width: 60%;
  clip-path: circle();
}

.card-gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  background: radial-gradient(rgb(var(--background-light-rgb)) 20%,
      rgb(var(--color-main-rgb)) 50%,
      rgb(var(--color-main-light-rgb)),
      rgb(var(--color-secondary-rgb)));
  mix-blend-mode: darken;
  pointer-events: none;
  z-index: 3;
}

.card-letters {
  --x: 0px;
  --y: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  color: white;
  font-size: var(--font-size);
  font-weight: 500;
  word-wrap: break-word;
  opacity: 0;
  transition: opacity 400ms;
  -webkit-mask-image: radial-gradient(calc(var(--card-size) * 0.8) circle at var(--x) var(--y),
      rgb(255 255 255) 20%,
      rgb(255 255 255 / 25%),
      transparent);
  scale: 1.03;
}

.card:hover .card-letters {
  opacity: 1;
}







@keyframes bounce2 {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}